<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name = "description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <!-- defer - wait until page loads and then use script -->
</head>
<body>
    <div class="container">
        <%- include('../partials/Search.ejs') %>
        <%- include('../partials/header.ejs') %>

        <main class="main">
            <%- body %>
        </main>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>